# –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –Ω–∞–¥—ë–∂–Ω–æ—Å—Ç–∏ –∑–∞—ë–º—â–∏–∫–æ–≤
**–û–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞**

–ó–∞–∫–∞–∑—á–∏–∫ ‚Äî –∫—Ä–µ–¥–∏—Ç–Ω—ã–π –æ—Ç–¥–µ–ª –±–∞–Ω–∫–∞. –ù—É–∂–Ω–æ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è, –≤–ª–∏—è–µ—Ç –ª–∏ —Å–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π –∫–ª–∏–µ–Ω—Ç–∞ –Ω–∞ —Ñ–∞–∫—Ç –ø–æ–≥–∞—à–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫. –í—Ö–æ–¥–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –æ—Ç –±–∞–Ω–∫–∞ ‚Äî —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –æ –ø–ª–∞—Ç—ë–∂–µ—Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤.
–†–µ–∑—É–ª—å—Ç–∞—Ç—ã –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –±—É–¥—É—Ç —É—á—Ç–µ–Ω—ã –ø—Ä–∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏–∏ –º–æ–¥–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–Ω–æ–≥–æ —Å–∫–æ—Ä–∏–Ω–≥–∞ ‚Äî —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ–π —Å–∏—Å—Ç–µ–º—ã, –∫–æ—Ç–æ—Ä–∞—è –æ—Ü–µ–Ω–∏–≤–∞–µ—Ç —Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç—å –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ–≥–æ –∑–∞—ë–º—â–∏–∫–∞ –≤–µ—Ä–Ω—É—Ç—å –∫—Ä–µ–¥–∏—Ç –±–∞–Ω–∫—É.

**–û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö**
- `children` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π –≤ —Å–µ–º—å–µ
- `days_employed` ‚Äî –æ–±—â–∏–π —Ç—Ä—É–¥–æ–≤–æ–π —Å—Ç–∞–∂ –≤ –¥–Ω—è—Ö
- `dob_years` ‚Äî –≤–æ–∑—Ä–∞—Å—Ç –∫–ª–∏–µ–Ω—Ç–∞ –≤ –≥–æ–¥–∞—Ö
- `education` ‚Äî —É—Ä–æ–≤–µ–Ω—å –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è –∫–ª–∏–µ–Ω—Ç–∞
- `education_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —É—Ä–æ–≤–Ω—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
- `family_status` ‚Äî —Å–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ
- `family_status_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —Å–µ–º–µ–π–Ω–æ–≥–æ –ø–æ–ª–æ–∂–µ–Ω–∏—è
- `gender` ‚Äî –ø–æ–ª –∫–ª–∏–µ–Ω—Ç–∞
- `income_type` ‚Äî —Ç–∏–ø –∑–∞–Ω—è—Ç–æ—Å—Ç–∏
- `debt` ‚Äî –∏–º–µ–ª –ª–∏ –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å –ø–æ –≤–æ–∑–≤—Ä–∞—Ç—É –∫—Ä–µ–¥–∏—Ç–æ–≤
- `total_income` ‚Äî –µ–∂–µ–º–µ—Å—è—á–Ω—ã–π –¥–æ—Ö–æ–¥
- `purpose` ‚Äî —Ü–µ–ª—å –ø–æ–ª—É—á–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞

## –†–µ—à–µ–Ω–∏–µ –∑–∞–¥–∞—á–∏
### –®–∞–≥ 1. –ó–Ω–∞–∫–æ–º—Å—Ç–≤–æ —Å –¥–∞–Ω–Ω—ã–º–∏ –∏ –∏–∑—É—á–µ–Ω–∏–µ –æ–±—â–µ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏.

–ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–π —Ä–∞–±–æ—Ç—ã.

In [ ]:
import pandas as pd
import numpy as np
import seaborn

–ß—Ç–µ–Ω–∏–µ —Ñ–∞–π–ª–∞ —Å –¥–∞–Ω–Ω—ã–º–∏ –∏ –≤—ã–≤–æ–¥ –ø–µ—Ä–≤—ã—Ö –¥–µ—Å—è—Ç–∏ —Å—Ç—Ä–æ—á–µ–∫ —Ç–∞–±–ª–∏—Ü—ã –¥–ª—è –æ–∑–Ω–∞–∫–æ–º–ª–µ–Ω–∏—è.

In [2]:
client_data = pd.read_csv('bank_data.csv')
client_data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875.639453,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,-4024.803754,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080.014102,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,-5623.422610,33,–°—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885.952297,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,-4124.747207,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628.550329,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.072047,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616.077870,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
5,0,-926.185831,27,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763.565419,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
6,0,-2879.202052,43,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525.971920,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º
7,0,-152.779569,50,–°–†–ï–î–ù–ï–ï,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823.934197,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
8,2,-6929.865299,35,–í–´–°–®–ï–ï,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856.832424,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
9,0,-2188.756445,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425.938277,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏

–î–ª—è –Ω–∞—á–∞–ª–∞ –ø–µ—Ä–µ–∏–º–µ–Ω—É–µ–º —Å—Ç–æ–ª–±—Ü—ã –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞ –ø–æ–Ω–∏–º–∞–Ω–∏—è –∏—Ö –∑–Ω–∞—á–µ–Ω–∏–π:
- `debt` -> `credit_debt` (–∏–º–µ–ª –ª–∏ –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å –ø–æ –≤–æ–∑–≤—Ä–∞—Ç—É –∫—Ä–µ–¥–∏—Ç–æ–≤);
- `income_type` -> `type_of_employment` (—Ç–∏–ø –∑–∞–Ω—è—Ç–æ—Å—Ç–∏);
- `total_income` -> `monthly_income` (–µ–∂–µ–º–µ—Å—è—á–Ω—ã–π –¥–æ—Ö–æ–¥)

In [3]:
client_data = client_data.rename(columns={'debt': 'credit_debt', 'income_type': 'type_of_employment', 'total_income': 'monthly_income'})
client_data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,type_of_employment,credit_debt,monthly_income,purpose
0,1,-8437.673028,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875.639453,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,-4024.803754,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080.014102,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,-5623.422610,33,–°—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885.952297,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,-4124.747207,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628.550329,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.072047,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616.077870,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É

–ü–æ–ª—É—á–µ–Ω–∏–µ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ.

In [4]:
client_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   children            21525 non-null  int64
 1   days_employed       19351 non-null  float64
 2   dob_years           21525 non-null  int64
 3   education           21525 non-null  object
 4   education_id        21525 non-null  int64
 5   family_status       21525 non-null  object
 6   family_status_id    21525 non-null  int64
 7   gender              21525 non-null  object
 8   type_of_employment  21525 non-null  object
 9   credit_debt         21525 non-null  int64
 10  monthly_income      19351 non-null  float64
 11  purpose             21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

–ú–æ–∂–Ω–æ –∑–∞–º–µ—Ç–∏—Ç—å, —á—Ç–æ –∑–Ω–∞—á–µ–Ω–∏—è –æ—Ç–ª–∏—á–∞—é—Ç—Å—è —Ç–æ–ª—å–∫–æ –≤ –¥–≤—É—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö –∏ –∏–º–µ—é—Ç –æ–¥–∏–Ω–∞–∫–æ–≤–æ–µ —á–∏—Å–ª–æ —è–≤–Ω—ã—Ö –ø—Ä–æ–ø—É—Å–∫–æ–≤. –ü—Ä–æ–≤–µ—Ä–∏–º —Ç–æ—á–Ω–æ–µ —á–∏—Å–ª–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –∏ –∫–∞–∫—É—é –¥–æ–ª—é –æ–Ω–∏ —Å–æ—Å—Ç–∞–≤–ª—è—é—Ç, –µ—Å–ª–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –º–µ–Ω—å—à–µ 2-5%, —Ç–æ —Ç–∞–∫–∏–µ —Å—Ç—Ä–æ–∫–∏ –º–æ–∂–Ω–æ –±—É–¥–µ—Ç –±–µ–∑–±–æ–ª–µ–∑–Ω–µ–Ω–Ω–æ —É–¥–∞–ª–∏—Ç—å, –≤ –∏–Ω–æ–º —Å–ª—É—á–∞–µ –ø—Ä–∏–¥–µ—Ç—Å—è –æ–±—Ä–∞–±–æ—Ç–∞—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –∏ –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è.

In [5]:
# –ö–∞–∫—É—é –¥–æ–ª—é —Å–æ—Å—Ç–∞–≤–ª—è—é—Ç –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –∫–∞–∂–¥–æ–º –∏–∑ —Å—Ç–æ–ª–±—Ü–æ–≤ —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏
print('–í—Å–µ–≥–æ –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Ç–∞–±–ª–∏—Ü–µ {0}, –∏–∑ –Ω–∏—Ö –ø—Ä–æ–ø—É—â–µ–Ω–æ {1}, –¥–æ–ª—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö —Ä–∞–≤–Ω–∞ {2:.2%}.'.format(len(client_data), client_data['monthly_income'].isna().sum(), client_data['monthly_income'].isna().sum() / len(client_data)))

–í—Å–µ–≥–æ –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Ç–∞–±–ª–∏—Ü–µ 21525, –∏–∑ –Ω–∏—Ö –ø—Ä–æ–ø—É—â–µ–Ω–æ 2174, –¥–æ–ª—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö —Ä–∞–≤–Ω–∞ 10.10%.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ —Å—É–ø–µ—Ä!üëç:</b> –¢–∞–∫, —Ö–æ—Ä–æ—à–æ

10% –¥–æ–≤–æ–ª—å–Ω–æ —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω–∞—è —á–∞—Å—Ç—å –¥–∞–Ω–Ω—ã—Ö, –∑–Ω–∞—á–∏—Ç –ø—Ä–æ—Å—Ç–æ —É–±—Ä–∞—Ç—å –∏—Ö –Ω–µ–ª—å–∑—è.

**–ù–∞–±–ª—é–¥–µ–Ω–∏–µ 1** : –º–æ–∂–Ω–æ –∑–∞–º–µ—Ç–∏—Ç—å, —á—Ç–æ –ø—Ä–æ–ø—É—Å–∫–∏ –µ—Å—Ç—å —Ç–æ–ª—å–∫–æ –≤ –¥–≤—É—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö `days_employed` –∏ `monthly_income` –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —ç—Ç–∏—Ö –ø—Ä–æ–ø—É—Å–∫–æ–≤ –æ–¥–∏–Ω–∞–∫–æ–≤–æ. 

*–¢–µ–æ—Ä–∏—è –ø–æ –Ω–∞–±–ª—é–¥–µ–Ω–∏—é:* —Ä–∞–∑—É–º–Ω–æ –±—É–¥–µ—Ç –ø—Ä–æ–≤–µ—Ä–∏—Ç—å, —á—Ç–æ –ø—Ä–æ–ø—É—Å–∫–∏ –≤ –∫–æ–ª–æ–Ω–∫–∞—Ö —Å —Ç—Ä—É–¥–æ–≤—ã–º —Å—Ç–∞–∂–µ–º –∏ –µ–∂–µ–º–µ—Å—è—á–Ω—ã–º –¥–æ—Ö–æ–¥–æ–º –Ω–∞–±–ª—é–¥–∞—é—Ç—Å—è —É –æ–¥–Ω–∏—Ö –∏ —Ç–µ—Ö –∂–µ –∫–ª–∏–µ–Ω—Ç–æ–≤.

–£–∑–Ω–∞–µ–º —Ä–∞–∑–±—Ä–æ—Å –¥–∞–Ω–Ω—ã—Ö –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ, —á—Ç–æ–±—ã –∏–º–µ—Ç—å –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∏–µ –æ –Ω–∞–ø–æ–ª–Ω–µ–Ω–∏–∏ —Ç–∞–±–ª–∏—Ü—ã.

In [6]:
client_data.describe()

,children,days_employed,dob_years,education_id,family_status_id,credit_debt,monthly_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

**–ù–∞–±–ª—é–¥–µ–Ω–∏–µ 2** : 
1. –ú–æ–∂–Ω–æ –∑–∞–º–µ—Ç–∏—Ç—å —Å—Ç—Ä–∞–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ `children`(–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π –≤ —Å–µ–º—å–µ), –∞ –∏–º–µ–Ω–Ω–æ –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ `-1`, —á–µ–≥–æ –≤ —Ä–µ–∞–ª—å–Ω–æ–π –∂–∏–∑–Ω–∏ –Ω–µ –º–æ–∂–µ—Ç –±—ã—Ç—å, –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ `20`, —á—Ç–æ –Ω–µ–æ–±—ã—á–Ω–æ, –Ω–æ –≤–æ–∑–º–æ–∂–Ω–æ.
2. –í —Å—Ç–æ–ª–±—Ü–µ `days_employed`(–æ–±—â–∏–π —Ç—Ä—É–¥–æ–≤–æ–π —Å—Ç–∞–∂ –≤ –¥–Ω—è—Ö) –º–æ–∂–Ω–æ –∑–∞–º–µ—Ç–∏—Ç—å —Ç–∞–∫–∏–µ –∞–Ω–æ–º–∞–ª–∏–∏ –∫–∞–∫ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–π —Ç—Ä—É–¥–æ–≤–æ–π —Å—Ç–∞–∂, –Ω–∞–ø—Ä–∏–º–µ—Ä –º–∏–Ω–∏–º–∞–ª—å–Ω—ã–π —Å—Ç–∞–∂ —Ä–∞–≤–µ–Ω `-18388` –¥–Ω—è–º –∏–ª–∏ 50 —Å –Ω–µ–±–æ–ª—å—à–∏–º –≥–æ–¥–∞–º. 
3. –í —Å—Ç–æ–ª–±—Ü–µ `days_employed`(–æ–±—â–∏–π —Ç—Ä—É–¥–æ–≤–æ–π —Å—Ç–∞–∂ –≤ –¥–Ω—è—Ö) —Ç–∞–∫ –∂–µ –Ω–∞–±–ª—é–¥–∞–µ—Ç—Å—è –Ω–µ–æ–±—ã—á–Ω—ã–π —Å—Ä–µ–¥–Ω–∏–π –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π —Ç—Ä—É–¥–æ–≤–æ–π —Å—Ç–∞–∂ –≤ `63046` –¥–Ω–µ–π –∏ `401755` –¥–Ω–µ–π –∏–ª–∏ 173 –≥–æ–¥–∞ –∏ –±–æ–ª—å—à–µ 1100 –ª–µ—Ç —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ.
4. –í–æ–∑—Ä–∞—Å—Ç –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –ø–æ–ª—É—á–∞—Ç–µ–ª–µ–π –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ç–æ–ª–±—Ü–µ `days_employed` —Ä–∞–≤–µ–Ω `0`, —á—Ç–æ —è–≤–ª—è–µ—Ç—Å—è –Ω–∞—Ä—É—à–µ–Ω–∏–µ–º –∑–∞–∫–æ–Ω–∞ –∏–ª–∏ –æ—à–∏–±–∫–æ–π –≤–≤–æ–¥–∞.

*–¢–µ–æ—Ä–∏–∏ –ø–æ –Ω–∞–±–ª—é–¥–µ–Ω–∏—é:* 
1. `20` –¥–µ—Ç–µ–π, –∫–∞–∫ –∏ `-1` –∑–Ω–∞—á–µ–Ω–∏—è —Ä–µ–∑–∫–æ –≤—ã–±–∏–≤–∞—é—â–∏–µ—Å—è, –∏–∑ –æ–±—â–µ–≥–æ —Ä—è–¥–∞. –ù—É–∂–Ω–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç–∞–∫–∏—Ö –∑–Ω–∞—á–µ–Ω–∏–π –∏ –≤ —Å–ª—É—á–∞–µ –º–∞–ª–æ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —É–¥–∞–ª–∏—Ç—å, —Ç.–∫. —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω–æ–≥–æ –≤–ª–∏—è–Ω–∏—è –Ω–∞ –∫–∞—á–µ—Å—Ç–≤–æ –¥–∞–Ω–Ω—ã—Ö –æ–Ω–∏ –Ω–µ –æ–∫–∞–∂—É—Ç. –û—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ `children` –º–æ–≥—É—Ç –±—ã—Ç—å –ø—Ä–æ–ø—É—Å–∫–æ–º –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏, –≤–µ—Ä–æ—è—Ç–Ω–æ –∏—Ö –º–æ–∂–Ω–æ –±—É–¥–µ—Ç –∑–∞–º–µ–Ω–∏—Ç—å –Ω–∞ `0`, –∫–∞–∫ –ø—Ä–∏ –æ—Ç—Å—É—Ç—Å—Ç–≤–∏–∏ –¥–µ—Ç–µ–π.
2. 75% –∫–ª–∏–µ–Ω—Ç–æ–≤ –∏–º–µ—é—Ç –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–π —Å—Ç–∞–∂ –º–æ–∂–Ω–æ –ø–æ–ø—Ä–æ–±–æ–≤–∞—Ç—å –∏—Å–ø—Ä–∞–≤–∏—Ç—å —ç—Ç–æ, –≤–∑—è–≤ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ –º–æ–¥—É–ª—é.
3. –°–ª–∏—à–∫–æ–º –≤—ã—Å–æ–∫–∏–π —Å—Ç–∞–∂ –º–æ–∂–µ—Ç –±—ã—Ç—å –∏–∑-–∑–∞ –æ–¥–Ω–æ–≥–æ-–¥–≤—É—Ö –Ω–µ–≤–µ—Ä–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π, –º–æ–∂–Ω–æ –ø–æ–ø—Ä–æ–±–æ–≤–∞—Ç—å –Ω–∞–π—Ç–∏ —ç—Ç–∏ –∞–Ω–æ–º–∞–ª–∏–∏ –∏ —É–¥–∞–ª–∏—Ç—å –∏—Ö –∏–∑ —Ç–∞–±–ª–∏—Ü—ã.
4. –í–æ–∑—Ä–∞—Å—Ç, —Ä–∞–≤–Ω—ã–π `0`, –º–æ–∂–µ—Ç –±—ã—Ç—å –ø—Ä–æ–ø—É—Å–∫–æ–º. –£–º–µ—Å—Ç–Ω–æ –ø—Ä–æ–≤–µ—Ä–∏—Ç—å —Å–≤—è–∑–∞–Ω—ã –ª–∏ —ç—Ç–∏ –ø—Ä–æ–ø—É—Å–∫–∏ —Å –ø—Ä–µ–¥—ã–¥—É—â–∏–º–∏ –Ω–∞–π–¥–µ–Ω–Ω—ã–º–∏ –ø—Ä–æ–ø—É—Å–∫–∞–º–∏ –≤ `days_employed` –∏ `monthly_income`.

### –®–∞–≥ 2. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö
#### *–†–∞–±–æ—Ç–∞ —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏*

–ü—Ä–æ–≤–µ—Ä–∏–º —Ç–µ–æ—Ä–∏—é –∏–∑ **–Ω–∞–±–ª—é–¥–µ–Ω–∏—è 1** - —Å–æ–≤–ø–∞–¥–∞—é—Ç –ª–∏ —Å—Ç—Ä–æ–∫–∏ –≤ `days_employed` –∏ `monthly_income`, –∏–º–µ—é—â–∏–µ –ø—Ä–æ–ø—É—Å–∫–∏ –≤ –∑–Ω–∞—á–µ–Ω–∏—è—Ö, –∏–ª–∏ –Ω–µ—Ç.

In [7]:
client_data[(client_data['days_employed'].isna() == True) & (client_data['monthly_income'].isna() == True)].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2174 entries, 12 to 21510
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   children            2174 non-null   int64
 1   days_employed       0 non-null      float64
 2   dob_years           2174 non-null   int64
 3   education           2174 non-null   object
 4   education_id        2174 non-null   int64
 5   family_status       2174 non-null   object
 6   family_status_id    2174 non-null   int64
 7   gender              2174 non-null   object
 8   type_of_employment  2174 non-null   object
 9   credit_debt         2174 non-null   int64
 10  monthly_income      0 non-null      float64
 11  purpose             2174 non-null   object
dtypes: float64(2), int64(5), object(5)
memory usage: 220.8+ KB

**–ù–∞–±–ª—é–¥–µ–Ω–∏–µ 3**

***–¢–µ–æ—Ä–∏—è –ø–æ–ª—É—á–∏–ª–∞ –ø–æ–¥—Ç–≤–µ—Ä–∂–¥–µ–Ω–∏–µ*** ‚Äì –≤ —Å—Ç—Ä–æ–∫–∞—Ö, –≥–¥–µ –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç –¥–∞–Ω–Ω—ã–µ –≤ —Å—Ç–æ–ª–±—Ü–µ `days_employed`, –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç –¥–∞–Ω–Ω—ã–µ –∏ –ø–æ `monthly_income`. 

*–¢–µ–æ—Ä–∏—è –ø–æ –Ω–∞–±–ª—é–¥–µ–Ω–∏—é:* —Å—Ç–æ–∏—Ç –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –æ—Ç–Ω–æ—Å—è—Ç—Å—è –ª–∏ –ø—Ä–æ–ø—É—Å–∫–∏ —Å –æ–¥–Ω–æ–º—É —Ç–∏–ø—É –∑–∞–Ω—è—Ç–æ—Å—Ç–∏, –≤–æ–∑–º–æ–∂–Ω–æ –º–æ–∂–Ω–æ –±—É–¥–µ—Ç –∑–∞–º–µ–Ω–∏—Ç—å –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ä–µ–¥–Ω–∏–º –ø–æ —Ç–∏–ø—É.

–ü—Ä–æ–≤–µ—Ä–∏–º —Ç–µ–æ—Ä–∏—é –∏–∑ **–Ω–∞–±–ª—é–¥–µ–Ω–∏—è 3**, –∏–∑ —Ä–∞–∑–Ω—ã—Ö –ª–∏ –ø—Ä–æ—Ñ–µ—Å—Å–∏–π –ª—é–¥–∏ –∏–º–µ—é—Ç –ø—Ä–æ–ø—É—Å–∫–∏ –≤ –¥–∞–Ω–Ω—ã—Ö, –µ—Å–ª–∏ –∏–∑ –æ–¥–Ω–æ–π, —Ç–æ –º–æ–∂–Ω–æ –±—É–¥–µ—Ç –∑–∞–ø–æ–ª–Ω–∏—Ç—å NaN —Å—Ä–µ–¥–Ω–∏–º –ø–æ —ç—Ç–æ–π –≥—Ä—É–ø–ø–µ.

In [8]:
client_data[(client_data['monthly_income'].isnull() == True) & (client_data['days_employed'].isnull() == True)]['type_of_employment'].value_counts()

—Å–æ—Ç—Ä—É–¥–Ω–∏–∫          1105
–∫–æ–º–ø–∞–Ω—å–æ–Ω           508
–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä           413
–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π         147
–ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å       1
Name: type_of_employment, dtype: int64

–ò–∑ —Ä–∞–∑–Ω—ã—Ö. –ó–Ω–∞—á–∏—Ç, –≤–∑—è—Ç—å —Å—Ä–µ–¥–Ω–µ–µ –ø–æ –æ–¥–Ω–æ–π –≥—Ä—É–ø–ø–µ –ø—Ä–æ—Ñ–µ—Å—Å–∏–π `type_of_employment` —É–∂–µ –Ω–µ–ª—å–∑—è, –±—É–¥–µ–º –∑–∞–ø–æ–ª–Ω—è—Ç—å NaN –ø–æ —Å—Ä–µ–¥–Ω–µ–º—É –∏–∑ –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã.

In [9]:
client_data['monthly_income'] = client_data['monthly_income'].fillna(client_data.groupby('type_of_employment')['monthly_income'].transform('median'))

–ü–ª—é—Å–æ–º —Ç–∞–∫–æ–≥–æ –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ —è–≤–ª—è–µ—Ç—Å—è, —Ç–æ —á—Ç–æ –∫–∞–∂–¥—ã–π –ø–µ–Ω—Å–∏–æ–Ω–µ—Ä —Å –ø—Ä–æ–ø—É—Å–∫–æ–º –¥–æ—Ö–æ–¥–æ–≤, –ø–æ–ª—É—á–∞–µ—Ç –∫–∞–∫ —Å—Ä–µ–¥–Ω–∏–π –ø–µ–Ω—Å–∏–æ–Ω–µ—Ä, –∞ –∫–∞–∂–¥—ã–π —Ä–∞–±–æ—Ç–Ω–∏–∫ - –∫–∞–∫ —Å—Ä–µ–¥–Ω–∏–π —Ä–∞–±–æ—Ç–Ω–∏–∫.

–¢–µ–ø–µ—Ä—å –º–æ–∂–Ω–æ –ø—Ä–æ–≤–µ—Ä–∏—Ç—å —Ç–µ–æ—Ä–∏—é –æ –ø—Ä–æ–ø—É—Å–∫–∞—Ö –≤–æ–∑—Ä–∞—Å—Ç–∞ –∏–∑ **–Ω–∞–±–ª—é–¥–µ–Ω–∏—è 2**.

In [10]:
print('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –Ω—É–ª–µ–≤—ã–º –≤–æ–∑—Ä–∞—Å—Ç–æ–º:', client_data[client_data['dob_years'] == 0].count()[0])
client_data[(client_data['days_employed'].isna() == True) & (client_data['monthly_income'].isna() == True) & ((client_data['dob_years'] == 0) == True)].info()

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –Ω—É–ª–µ–≤—ã–º –≤–æ–∑—Ä–∞—Å—Ç–æ–º: 101
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   children            0 non-null      int64
 1   days_employed       0 non-null      float64
 2   dob_years           0 non-null      int64
 3   education           0 non-null      object
 4   education_id        0 non-null      int64
 5   family_status       0 non-null      object
 6   family_status_id    0 non-null      int64
 7   gender              0 non-null      object
 8   type_of_employment  0 non-null      object
 9   credit_debt         0 non-null      int64
 10  monthly_income      0 non-null      float64
 11  purpose             0 non-null      object
dtypes: float64(2), int64(5), object(5)
memory usage: 0.0+ bytes

–ò–∑ 101 –∫–ª–∏–µ–Ω—Ç–∞ —Å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–º –≤–æ–∑—Ä–∞—Å—Ç–æ–º, —Ç–æ–ª—å–∫–æ 10 –∫–ª–∏–µ–Ω—Ç–æ–≤ –∏–º–µ—é—Ç –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ä–∞–∑—É –≤ —Ç—Ä–µ—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö, –∞ –∑–Ω–∞—á–∏—Ç –º–µ–∂–¥—É –ø—Ä–æ–ø—É—Å–∫–∞–º–∏ –≤ –≤–æ–∑—Ä–∞—Å—Ç–µ –∏ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö —Å–æ —Å—Ç–∞–∂–µ–º –∏ –¥–æ—Ö–æ–¥–æ–º –Ω–µ—Ç —Å–≤—è–∑–∏. ***–¢–µ–æ—Ä–∏—è –æ–ø—Ä–æ–≤–µ—Ä–≥–Ω—É—Ç–∞.***

–ü—Ä–æ–≤–µ—Ä–∏–º –µ—Å—Ç—å –ª–∏ –µ—â—ë –Ω–µ—Å–æ–≤–µ—Ä—à–µ–Ω–Ω–æ–ª–µ—Ç–Ω–∏–µ –≤ —Å–ø–∏—Å–∫–∞—Ö –∏–ª–∏ —Ç–æ–ª—å–∫–æ –Ω—É–ª–µ–≤–æ–π –≤–æ–∑—Ä–∞—Å—Ç. –ï—Å–ª–∏ —Ç–æ–ª—å–∫–æ –Ω—É–ª–µ–≤–æ–π, —Ç–æ –≤–æ–∑–º–æ–∂–Ω–∞ –æ—à–∏–±–∫–∞ –≤–≤–æ–¥–∞ –¥–∞–Ω–Ω—ã—Ö –∏ —É–º–µ—Å—Ç–Ω–æ –±—É–¥–µ—Ç –∑–∞–ø–æ–ª–Ω–∏—Ç—å —Å—Ä–µ–¥–Ω–∏–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –ø–æ —Ç–∏–ø—É –∑–∞–Ω—è—Ç–æ—Å—Ç–∏.

In [11]:
print('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ —Å –≤–æ–∑—Ä–∞—Å—Ç–æ–º —Ä–∞–≤–Ω—ã–º 0 -', client_data[client_data['dob_years'] == 0].count()[0])
print('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ —Å –Ω–µ—Å–æ–≤–µ—Ä—à–µ–Ω–Ω–æ–ª–µ—Ç–Ω–∏–º–∏ -', client_data[client_data['dob_years'] < 19].count()[0])

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ —Å –≤–æ–∑—Ä–∞—Å—Ç–æ–º —Ä–∞–≤–Ω—ã–º 0 - 101
–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ —Å –Ω–µ—Å–æ–≤–µ—Ä—à–µ–Ω–Ω–æ–ª–µ—Ç–Ω–∏–º–∏ - 101

–¢.–∫. –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–¥–Ω–∏—Ö –∏ –¥—Ä—É–≥–∏—Ö —Å–æ–≤–ø–∞–¥–∞–µ—Ç, —Ç–æ –º–æ–∂–Ω–æ —É—Ç–≤–µ—Ä–∂–¥–∞—Ç—å —á—Ç–æ —ç—Ç–æ –æ–¥–Ω–∏ –∏ —Ç–µ –∂–µ –ª—é–¥–∏. –ó–∞–ø–æ–ª–Ω–∏–º –∑–Ω–∞—á–µ–Ω–∏—è –≤–æ–∑—Ä–∞—Å—Ç–∞ —Å—Ä–µ–¥–Ω–∏–º –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–∏–ø—É –∑–∞–Ω—è—Ç–æ—Å—Ç–∏.

In [12]:
client_data['dob_years'] = client_data.groupby('type_of_employment')['dob_years'].transform(lambda x: x.replace(0, int(x.mean())))

#### *–û–±—Ä–∞–±–æ—Ç–∫–∞ –∞–Ω–æ–º–∞–ª–∏–π*
–ü—Ä–æ–¥–æ–ª–∂–∏–º –ø—Ä–æ–≤–µ—Ä—è—Ç—å —Ç–µ–æ—Ä–∏–∏ –∏–∑ **–Ω–∞–±–ª—é–¥–µ–Ω–∏—è 2**.

–î–ª—è —ç—Ç–æ–≥–æ —É–∑–Ω–∞–µ–º —Å–∫–æ–ª—å–∫–æ –ª—é–¥–µ–π —É–∫–∞–∑–∞–ª–∏ –∞–Ω–æ–º–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ `children`–∏ —á—Ç–æ –º–æ–∂–Ω–æ —Å —ç—Ç–∏–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ —Å–¥–µ–ª–∞—Ç—å.

In [13]:
client_data['children'].value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

76 –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å `20` –¥–µ—Ç—å–º–∏ - —É–¥–∞–ª–µ–Ω–∏–µ —Ç–∞–∫–æ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Å—Ç—Ä–æ–∫ –Ω–µ –ø—Ä–∏–≤–µ–¥–µ—Ç –∫ —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω–æ–º—É —É—Ö—É–¥—à–µ–Ω–∏—é –¥–∞–Ω–Ω—ã—Ö. 

47 —á–µ–ª–æ–≤–µ–∫, –∫–æ—Ç–æ—Ä—ã–µ –∑–∞–ø–∏—Å–∞–ª–∏ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π —Å –æ–¥–Ω–æ–π —Å—Ç–æ—Ä–æ–Ω—ã –∏—Ö —É–¥–∞–ª–µ–Ω–∏–µ —Ç–æ–∂–µ –Ω–µ –ø—Ä–∏–≤–µ–¥–µ—Ç –∫ —É—Ö—É–¥—à–µ–Ω–∏—é –æ–±—â–µ–π –∫–∞—Ä—Ç–∏–Ω—ã, —Å –¥—Ä—É–≥–æ–π –∑–¥–µ—Å—å –ª–µ–≥–∫–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å –¥–∞–Ω–Ω—ã–µ, –∑–∞–º–µ–Ω–∏–≤ `-1` –Ω–∞ `0`. –¢–∞–∫–æ–µ –∏–∑–º–µ–Ω–µ–Ω–∏–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫—É –Ω–µ –∏—Å–ø–æ—Ä—Ç–∏—Ç.

In [14]:
# –£–¥–∞–ª–µ–Ω–∏–µ –∞–Ω–æ–º–∞–ª—å–Ω—ã—Ö —Å—Ç—Ä–æ–∫
client_data = client_data.loc[client_data['children'] != 20]
#–ó–∞–º–µ–Ω–∞ –∑–Ω–∞—á–µ–Ω–∏–π –≤ –∞–Ω–æ–º–∞–ª—å–Ω—ã—Ö —Å—Ç—Ä–æ–∫–∞—Ö
client_data = client_data.replace({'children':{-1:0}})
client_data['children'].value_counts()

0    14196
1     4818
2     2055
3      330
4       41
5        9
Name: children, dtype: int64

–ü—Ä–æ–¥–æ–ª–∂–∏–º –∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç—å —Ç–µ–æ—Ä–∏–∏ –≤—ã–¥–≤–∏–Ω—É—Ç—ã–µ –≤ **–Ω–∞–±–ª—é–¥–µ–Ω–∏–∏ 2**. –î–ª—è —ç—Ç–æ–≥–æ –º–æ–∂–Ω–æ —Å–æ–∑–¥–∞—Ç—å —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –ø–æ –∫–∞–∂–¥–æ–º—É –∏–∑ —Ç–∏–ø–æ–≤ –∑–∞–Ω—è—Ç–æ—Å—Ç–∏ –¥–ª—è —Ç–æ–≥–æ, —á—Ç–æ–± —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è —Å –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–º —Å—Ç–∞–∂–µ–º –∏ –≤—ã—è—Å–Ω–∏—Ç—å, –∫—Ç–æ —Å–æ–∑–¥–∞–µ—Ç –ø–µ—Ä–µ–∫–æ—Å –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ä–µ–¥–Ω–µ–≥–æ —Å—Ç–∞–∂–∞.

–î–ª—è –∫–∞–∂–¥–æ–≥–æ —Ç–∏–ø–∞ `type_of_employment` –≤—ã–≤–µ–¥–µ–º —Å–ª–µ–¥—É—é—â–µ–µ:
1) –æ–±—â–µ–µ –∫–æ–ª-–≤–æ —Å—Ç—Ä–æ–∫ –¥–∞–Ω–Ω–æ–≥–æ —Ç–∏–ø–∞ –≤ —Ç–∞–±–ª–∏—Ü–µ;

2) —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –ø–æ `days_employed`;

3) –¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ—Å—Ç–∏ –≤—ã—á–∏—Å–ª–µ–Ω–∏—è —Å—Ä–µ–¥–Ω–µ–≥–æ –∏ –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è abs() –≤—ã–≤–µ–¥–µ–º –∫–æ–ª-–≤–æ –∑–Ω–∞—á–µ–Ω–∏–π –ø–æ `days_employed` > 0 –ø–æ –¥–∞–Ω–Ω–æ–º—É `type_of_employment`.

In [15]:
client_data.groupby('type_of_employment').agg({'days_employed':['count', 'mean', lambda x: sum(x>0)]})

                   days_employed
                           count           mean <lambda_0>
type_of_employment
–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π                    2  366413.652744        2.0
–≤ –¥–µ–∫—Ä–µ—Ç–µ                      1   -3296.759962        0.0
–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π                 1311   -3398.915807        0.0
–∫–æ–º–ø–∞–Ω—å–æ–Ω                   4558   -2116.633489        0.0
–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä                   3436  365011.937155     3436.0
–ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å                1    -520.848083        0.0
—Å–æ—Ç—Ä—É–¥–Ω–∏–∫                   9974   -2325.075758        0.0
—Å—Ç—É–¥–µ–Ω—Ç                        1    -578.751554        0.0

In [16]:
client_data['days_employed'] = client_data['days_employed']/365
client_data = client_data.rename(columns={'days_employed': 'years_employed'})

client_data.loc[(client_data['years_employed'] > client_data['dob_years']), 'years_employed'] = client_data['years_employed'] / 10

print('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –∑–∞–≤—ã—à–µ–Ω–Ω—ã–º —Å—Ç–∞–∂–µ–º', client_data[client_data['years_employed'] > client_data['dob_years']].count()[0])

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –∑–∞–≤—ã—à–µ–Ω–Ω—ã–º —Å—Ç–∞–∂–µ–º 3438

–ò–∑ –ø–æ–ª—É—á–µ–Ω–Ω–æ–π —Å–≤–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã –≤–∏–¥–Ω–æ, —á—Ç–æ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ –æ—Ç—Ä–∞–±–æ—Ç–∞–Ω–Ω—ã–º –¥–Ω—è–º `days_employed` –æ–¥–Ω–æ—Ç–∏–ø–Ω—ã: –ø–æ –≤—Å–µ–º '–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–º' –∏ '–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä–∞–º' –≤—Å–µ –∑–Ω–∞—á–µ–Ω–∏—è –±–æ–ª—å—à–µ 0, –ø–æ –æ—Å—Ç–∞–ª—å–Ω—ã–º –º–µ–Ω—å—à–µ 0, –ø–æ—ç—Ç–æ–º—É –º–æ–∂–µ–º –±–µ–∑–±–æ–ª–µ–∑–Ω–µ–Ω–Ω–æ –ø—Ä–∏–º–µ–Ω—è—Ç—å `abs()`, —Å—á–∏—Ç–∞—Ç—å —Å—Ä–µ–¥–Ω–µ–µ.

–î–ª—è –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ–≥–æ –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –ª–æ–≥–∏—á–Ω–æ –±—É–¥–µ—Ç –ø–æ—Å—á–∏—Ç–∞—Ç—å –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –ø–æ–ª–Ω–æ—Ç—ã –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ—Ç—Ä–∞–±–æ—Ç–∞–Ω–Ω—ã—Ö –¥–Ω–µ–π, —É—á–∏—Ç—ã–≤–∞—è, —á—Ç–æ –æ—Ñ–∏—Ü–∏–∞–ª—å–Ω–æ –º–æ–∂–Ω–æ —Ç—Ä—É–¥–∏—Ç—å—Å—è —Å 16 –ª–µ—Ç, –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç —Ä–∞—Å—Å—á–∏—Ç–∞–Ω –≤ —Å—Ç–æ–ª–±—Ü–µ `ratio_days_employed` —Å —É—á–µ—Ç–æ–º —Å—Ä–µ–¥–Ω–µ–≥–æ —ç—Ç–æ–≥–æ –ø–æ–∫–∞–∑–∞—Ç–µ–ª—è –ø–æ –≥—Ä—É–ø–ø–µ.

In [17]:
client_data['years_employed'] = client_data['years_employed'].abs()
client_data['ratio_years_employed'] = client_data[client_data['years_employed'].notnull()]['years_employed']/((client_data['dob_years']-16)*365)
client_data['years_employed'] = client_data.groupby('type_of_employment')['years_employed'].transform(lambda x: x.fillna(x.mean()*client_data['dob_years']*365))

–ü–æ—Å–ª–µ –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö –º–µ–¥–∏–∞–Ω–Ω—ã–º–∏ –∏ —Å—Ä–µ–¥–Ω–∏–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏, –º–æ–∂–Ω–æ —É–¥–∞–ª–∏—Ç—å –≤—Å–ø–æ–º–æ–≥–∞—Ç–µ–ª—å–Ω—ã–π —Å—Ç–æ–ª–±–µ—Ü.

In [18]:
client_data = client_data.drop('ratio_years_employed', axis=1)

In [19]:
print('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –∑–∞–≤—ã—à–µ–Ω–Ω—ã–º —Å—Ç–∞–∂–µ–º', client_data[client_data['years_employed'] > client_data['dob_years']].count()[0])
print('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å–æ —Å—Ç–∞–∂–µ–º –±–æ–ª—å—à–µ 100 –ª–µ—Ç -', client_data[client_data['years_employed'] > 100].count()[0])
print('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å–æ —Å—Ç–∞–∂–µ–º –±–æ–ª—å—à–µ 1000 –ª–µ—Ç -', client_data[client_data['years_employed'] > 1000].count()[0])

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –∑–∞–≤—ã—à–µ–Ω–Ω—ã–º —Å—Ç–∞–∂–µ–º 5603
–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å–æ —Å—Ç–∞–∂–µ–º –±–æ–ª—å—à–µ 100 –ª–µ—Ç - 3892
–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å–æ —Å—Ç–∞–∂–µ–º –±–æ–ª—å—à–µ 1000 –ª–µ—Ç - 2165

–ë–æ–ª—å—à–µ –ø–æ–ª–æ–≤–∏–Ω—ã –∫–ª–∏–µ–Ω—Ç–æ–≤ –±–∞–Ω–∫–∞ –∏–º–µ—é—Ç –Ω–µ–≤–µ—Ä–æ—è—Ç–Ω—ã–π —Å—Ç–∞–∂, —á—Ç–æ –º–æ–∂–µ—Ç –±—ã—Ç—å –∫–∞–∫ –æ—à–∏–±–∫–æ–π –≤–≤–æ–¥–∞, —Ç–∞–∫ –∏ –æ—à–∏–±–∫–æ–π —Ä–∞—Å—á–µ—Ç–∞ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∞. –ö–∞–∫ —Ä–µ—à–∏—Ç—å –¥–∞–Ω–Ω–æ–µ –∏—Å–∫–∞–∂–µ–Ω–∏–µ —è –ø–æ–∫–∞ –Ω–µ –∏–º–µ—é –∏–¥–µ–π. –ü–æ –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç–∏ —Å–ø—Ä–æ—Å–∏–ª–∞ –±—ã —Å–æ–≤–µ—Ç–∞.

#### *–ó–∞–º–µ–Ω–∞ —Ç–∏–ø–∞ –¥–∞–Ω–Ω—ã—Ö*
–ú–µ—Å—è—á–Ω—É—é –∑–∞—Ä–ø–ª–∞—Ç—É `monthly_income` –∏ —Å—Ç–∞–∂ –≤ –¥–Ω—è—Ö `days_employed` –ø–µ—Ä–µ–≤–æ–¥–∏–º –≤ `int`, —Ç–∞–∫ –∂–µ –∫–∞–∂–µ—Ç—Å—è —É–º–µ—Å—Ç–Ω—ã–º –∑–∞–º–µ–Ω–∏—Ç—å —Å—Ç–∞–∂ –ø–æ –¥–Ω—è–º –Ω–∞ –≥–æ–¥–æ–≤–æ–π —Å—Ç–∞–∂.
–ò—Å–ø–æ–ª—å–∑—É–µ–º —Ñ—É–Ω–∫—Ü–∏—é `astype`, —Ç.–∫. —Å—Ç–æ–ª–±—Ü—ã —É –Ω–∞—Å –∏–º–µ—é—Ç —á–∏—Å—Ç—ã–π —Ñ–æ—Ä–º–∞—Ç `float64`, —Ç.–µ. –ø–µ—Ä–µ–≤–æ–¥ –≤ `int` –±—É–¥–µ—Ç –±–µ–∑–æ–ø–∞—Å–Ω—ã–º.

In [20]:
client_data['years_employed'] = client_data['years_employed'].astype('int64')
client_data['monthly_income'] = client_data['monthly_income'].astype('int64')
client_data.head()

,children,years_employed,dob_years,education,education_id,family_status,family_status_id,gender,type_of_employment,credit_debt,monthly_income,purpose
0,1,23,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,11,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,15,33,–°—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,11,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,93,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É

In [21]:
client_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21449 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   children            21449 non-null  int64
 1   years_employed      21449 non-null  int64
 2   dob_years           21449 non-null  int64
 3   education           21449 non-null  object
 4   education_id        21449 non-null  int64
 5   family_status       21449 non-null  object
 6   family_status_id    21449 non-null  int64
 7   gender              21449 non-null  object
 8   type_of_employment  21449 non-null  object
 9   credit_debt         21449 non-null  int64
 10  monthly_income      21449 non-null  int64
 11  purpose             21449 non-null  object
dtypes: int64(7), object(5)
memory usage: 2.6+ MB

–í—Å–µ –¥–∞–Ω–Ω—ã–µ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã –≤ –¥–æ–≤–æ–ª—å–Ω–æ —É–¥–æ–±–Ω–æ–º —Ñ–æ—Ä–º–∞—Ç–µ. –ú–µ—Å—è—á–Ω—É—é –∑–∞—Ä–ø–ª–∞—Ç—É –∏ —Å—Ç–∞–∂ –ø–µ—Ä–µ–≤–µ–ª–∏ –≤ 'int', —á—Ç–æ–±—ã –≤–∏–¥–µ—Ç—å —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è. –í –æ—Å—Ç–∞–ª—å–Ω–æ–º —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –≤–µ–∑–¥–µ –≤—ã–≥–ª—è–¥—è—Ç —Ö–æ—Ä–æ—à–æ.

In [22]:
client_data.describe()

,children,years_employed,dob_years,education_id,family_status_id,credit_debt,monthly_income
count,21449.000000,2.144900e+04,21449.000000,21449.000000,21449.000000,21449.000000,2.144900e+04
mean,0.472143,4.895947e+04,43.499371,0.817148,0.973099,0.080796,1.652211e+05
std,0.751339,2.964910e+05,12.234339,0.548507,1.420521,0.272528,9.811308e+04
min,0.000000,0.000000e+00,19.000000,0.000000,0.000000,0.000000,2.066700e+04
25%,0.000000,2.000000e+00,34.000000,1.000000,0.000000,0.000000,1.077720e+05
50%,0.000000,7.000000e+00,43.000000,1.000000,0.000000,0.000000,1.425940e+05
75%,1.000000,9.100000e+01,53.000000,1.000000,1.000000,0.000000,1.955370e+05
max,5.000000,2.664587e+06,75.000000,4.000000,4.000000,1.000000,2.265604e+06

–ü–µ—Ä–µ–¥ —Ç–µ–º –∫–∞–∫ –¥–µ–ª–∏—Ç—å –∫–ª–∏–µ–Ω—Ç–æ–≤ –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏, –Ω–µ–ø–ª–æ—Ö–æ –±—ã –µ—â–µ —Ä–∞–∑ –ø–æ–≥–ª—è–¥–µ—Ç—å –Ω–∞ —Ç–æ, —á–µ–º –Ω–∞–ø–æ–ª–Ω–µ–Ω –¥–∞—Ç–∞—Ñ—Ä–µ–π–º)

2 –º–∏–ª–ª–∏–æ–Ω–∞ –ª–µ—Ç —Å—Ç–∞–∂–∞ —É –∫–æ–≥–æ-—Ç–æ, —ç—Ç–æ—Ç —á–µ–ª–æ–≤–µ–∫ —è–≤–Ω–æ –æ—á–µ–Ω—å —Ü–µ–Ω–Ω—ã–π —Å–æ—Ç—Ä—É–¥–Ω–∏–∫. 

–ù–æ –≤–∞–∂–Ω–µ–µ –¥—Ä—É–≥–æ–µ. –î–æ—Ö–æ–¥—ã —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω—ã –Ω–µ–º–Ω–æ–≥–æ –∏–Ω–∞—á–µ, —á–µ–º —Ç–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏, —á—Ç–æ –ø—Ä–∏–º–µ–Ω–µ–Ω—ã —á—É—Ç—å –Ω–∏–∂–µ. –í–æ–∑–º–æ–∂–Ω–æ –Ω–æ–≤–æ–µ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –¥–æ—Ö–æ–¥–æ–≤ –¥–æ–ª–∂–Ω–æ –±—ã—Ç—å –ø—Ä–∏–º–µ—Ä–Ω–æ —Ç–∞–∫–∏–º:
    - –¥–æ 60 000;    
    - –¥–æ 120 000;  
    - –¥–æ 180 000;  
    - –±–æ–ª—å—à–µ 180 000.

–¢–∞–∫–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –±–ª–∏–∑–∫–∏ –∫ —Ä–∞–≤–Ω–æ–º–µ—Ä–Ω–æ–º—É —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—é –∏ –≤—ã–≥–ª—è–¥—è—Ç –ø–æ—Ö–æ–∂–∏–º–∏ –Ω–∞ –∂–∏–∑–Ω–µ–Ω–Ω—ã–µ.

#### *–û–±—Ä–∞–±–æ—Ç–∫–∞ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤*
–í —ç—Ç–æ–º –±–ª–æ–∫–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø–æ—á–∏—Å—Ç–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –æ—Ç –ø–æ–≤—Ç–æ—Ä—è—é—â–∏—Ö—Å—è –∑–Ω–∞—á–µ–Ω–∏–π. –ï—Å–ª–∏ –≤ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É—é—Ç —Å—Ç—Ä–æ–∫–∏-–¥—É–±–ª–∏–∫–∞—Ç—ã, –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —É–¥–∞–ª–∏—Ç—å –∏—Ö. –¢–∞–∫–∂–µ –Ω—É–∂–Ω–æ –ø—Ä–æ–≤–µ—Ä–∏—Ç—å —Ç–∞–±–ª–∏—Ü—É –Ω–∞ –Ω–µ—è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã.

In [23]:
# –ü–æ–¥—Å—á–µ—Ç —è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ
print('–í —Ç–∞–±–ª–∏—Ü–µ –µ—Å—Ç—å {0} –æ–¥–∏–Ω–∞–∫–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫–∏.'.format(client_data.duplicated().sum()))

–í —Ç–∞–±–ª–∏—Ü–µ –µ—Å—Ç—å 54 –æ–¥–∏–Ω–∞–∫–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫–∏.

In [24]:
# –£–¥–∞–ª–µ–Ω–∏–µ —è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤
client_data.drop_duplicates(inplace=True, ignore_index= True)

–ü—Ä–æ–≤–µ—Ä–∏–º —Å—Ç–æ–ª–±—Ü—ã —Å —Ç–µ–∫—Å—Ç–æ–º –Ω–∞ –Ω–µ—è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã.

In [25]:
print('–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ \'education\'', client_data['education'].sort_values().unique())
print('–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ \'family_status\'', client_data['family_status'].sort_values().unique())
print('–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ \'gender\'', client_data['gender'].sort_values().unique())
print('–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ \'type_of_employment\'', client_data['type_of_employment'].sort_values().unique())
print('–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ \'purpose\'', client_data['purpose'].sort_values().unique())

–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ 'education' ['–í–´–°–®–ï–ï' '–í—ã—Å—à–µ–µ' '–ù–ê–ß–ê–õ–¨–ù–û–ï' '–ù–ï–û–ö–û–ù–ß–ï–ù–ù–û–ï –í–´–°–®–ï–ï' '–ù–∞—á–∞–ª—å–Ω–æ–µ'
 '–ù–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ' '–°–†–ï–î–ù–ï–ï' '–°—Ä–µ–¥–Ω–µ–µ' '–£–ß–ï–ù–ê–Ø –°–¢–ï–ü–ï–ù–¨'
 '–£—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å' '–≤—ã—Å—à–µ–µ' '–Ω–∞—á–∞–ª—å–Ω–æ–µ' '–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ' '—Å—Ä–µ–¥–Ω–µ–µ'
 '—É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å']
–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ 'family_status' ['–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º' '–≤ —Ä–∞–∑–≤–æ–¥–µ' '–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞' '–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫'
 '–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º']
–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ 'gender' ['F' 'M' 'XNA']
–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ 'type_of_employment' ['–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π' '–≤ –¥–µ–∫—Ä–µ—Ç–µ' '–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π' '–∫–æ–º–ø–∞–Ω—å–æ–Ω' '–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä'
 '–ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å' '—Å–æ—Ç—Ä—É–¥–Ω–∏–∫' '—Å—Ç—É–¥–µ–Ω—Ç']
–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ 'purpose' ['–∞–≤—Ç–æ–º–æ–±–∏–ª–∏' '–∞–≤—Ç–æ–º–æ–±–∏–ª—å' '–≤—ã—Å—à–µ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ'
 '–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ' '–∂–∏–ª—å–µ' '–∑–∞–Ω—è—Ç—å—Å—è –≤—ã—Å—à–∏–º –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º'
 '–∑–∞–Ω—è—Ç—å—Å—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º' '–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è'
 '–Ω–∞ –ø–æ–∫—É–ø–∫—É –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω–æ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è' '–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è'
 '–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã' '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å' '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ' '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º'
 '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é' '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é'
 '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å–æ —Å–≤–æ–µ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é' '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏'
 '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è' '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏' '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏'
 '–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏' '–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏'
 '–ø–æ–∫—É–ø–∫–∞ —Å–≤–æ–µ–≥–æ –∂–∏–ª—å—è' '–ø–æ–ª—É—á–µ–Ω–∏–µ –≤—ã—Å—à–µ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è'
 '–ø–æ–ª—É—á–µ–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è' '–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è'
 '–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è' '–ø—Ä–æ—Ñ–∏–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ' '—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é'
 '—Å–≤–∞–¥—å–±–∞' '—Å–≤–æ–π –∞–≤—Ç–æ–º–æ–±–∏–ª—å' '—Å–¥–µ–ª–∫–∞ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º'
 '—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º' '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏'
 '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏' '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏'
 '—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É']

**–ù–∞–±–ª—é–¥–µ–Ω–∏–µ 4** : 
1. –£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ `education` –æ—Ç–ª–∏—á–∞—é—Ç—Å—è —Ç–æ–ª—å–∫–æ —Ä–µ–≥–∏—Å—Ç—Ä–æ–º.
2. –£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ `family_status` –Ω–µ –Ω—É–∂–¥–∞—é—Ç—Å—è –≤ –∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∫–µ.
3. –£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ `gender` —Å–æ–¥–µ—Ä–∂–∏—Ç –Ω–µ–∫–æ—Ç–æ—Ä–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π, –≤–æ–∑–º–æ–∂–Ω–æ —ç—Ç–∏ –ø—Ä–æ–ø—É—Å–∫–∏ –Ω–µ –≤–ª–∏—è—é—Ç –Ω–∞ –∫–∞—á–µ—Å—Ç–≤–æ –¥–∞–Ω–Ω—ã—Ö.
4. –£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ `type_of_employment` –Ω–µ –Ω—É–∂–¥–∞—é—Ç—Å—è –≤ –∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∫–µ.
5. –£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ `purpose` –∏–º–µ—é—Ç —á–µ—Ç—ã—Ä–µ –æ—Å–Ω–æ–≤–Ω—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏, –æ–ø–∏—Å–∞–Ω–Ω—ã–µ —Ä–∞–∑–Ω—ã–º–∏ —Å–ª–æ–≤–∞–º–∏.

*–¢–µ–æ—Ä–∏—è –ø–æ –Ω–∞–±–ª—é–¥–µ–Ω–∏—é:* 
1. –î–ª—è —Å—Ç–æ–ª–±—Ü–∞ `education` —Ä–∞–∑—É–º–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –º–µ—Ç–æ–¥ `.lower()`, —á—Ç–æ–±—ã –ø—Ä–∏–≤–µ—Å—Ç–∏ –∑–Ω–∞—á–µ–Ω–∏—è –∫ –æ–¥–Ω–æ–º—É —Å—Ç–∏–ª—é.
2. –ó–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ `family_status` –Ω–µ –Ω—É–∂–¥–∞—é—Ç—Å—è –≤ –∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∫–µ, –Ω–æ –¥–ª—è –æ–±—â–Ω–æ—Å—Ç–∏ –¥–∞–Ω–Ω—ã—Ö —Ç–æ–∂–µ –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –º–µ—Ç–æ–¥ `.lower()`.
3. –ó–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ `gender` –Ω–µ –Ω—É–∂–¥–∞—é—Ç—Å—è –≤ –∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∫–µ.
4. –ó–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ `type_of_employment` –Ω–µ –Ω—É–∂–¥–∞—é—Ç—Å—è –≤ –∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∫–µ.
5. –£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ `purpose` –æ—á–µ–Ω—å —Ä–∞–∑–Ω–æ—Ä–æ–¥–Ω—ã –∏ –±—É–¥–µ—Ç –ª–æ–≥–∏—á–Ω–µ–µ —Å–æ–∑–¥–∞—Ç—å –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–π —Å—Ç–æ–ª–±–µ—Ü —Å –æ–±–æ–±—â–µ–Ω–Ω—ã–º–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º–∏.

In [26]:
# –£–¥–∞–ª–µ–Ω–∏–µ –Ω–µ—è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤
client_data['education'] = client_data['education'].str.lower()
client_data['family_status'] = client_data['family_status'].str.lower()
client_data.head()

,children,years_employed,dob_years,education,education_id,family_status,family_status_id,gender,type_of_employment,credit_debt,monthly_income,purpose
0,1,23,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,11,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,15,33,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,11,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,93,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É

#### *–ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö*

–°–æ–∑–¥–∞–¥–∏–º –¥–≤–∞ –Ω–æ–≤—ã—Ö –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ —Å–æ —Å—Ç–æ–ª–±—Ü–∞–º–∏:
- `education_id` –∏ `education` ‚Äî –≤ –ø–µ—Ä–≤–æ–º;
- `family_status_id` –∏ `family_status` ‚Äî –≤–æ –≤—Ç–æ—Ä–æ–º.

–£–¥–∞–ª–∏–º –∏–∑ –∏—Å—Ö–æ–¥–Ω–æ–≥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ —Å—Ç–æ–ª–±—Ü—ã education –∏ family_status, –æ—Å—Ç–∞–≤–∏–≤ —Ç–æ–ª—å–∫–æ –∏—Ö –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—ã: `education_id` –∏ `family_status_id`.

In [27]:
# –°–æ–∑–¥–∞–Ω–∏–µ –¥–≤—É—Ö –≤—Å–ø–æ–º–æ–≥–∞—Ç–µ–ª—å–Ω—ã—Ö —Å–ª–æ–≤–∞—Ä–µ–π
education_dict = client_data[['education', 'education_id']]
family_status_dict = client_data[['family_status', 'family_status_id']]
# –£–¥–∞–ª–µ–Ω–∏–µ –Ω–µ–Ω—É–∂–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤
client_data = client_data.drop('education', axis=1)
client_data = client_data.drop('family_status', axis=1)

–ù–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –¥–∏–∞–ø–∞–∑–æ–Ω–æ–≤, —É–∫–∞–∑–∞–Ω–Ω—ã—Ö –Ω–∏–∂–µ, —Å–æ–∑–¥–∞–¥–∏–º —Å—Ç–æ–ª–±–µ—Ü `total_income_category` —Å –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º–∏:
- 0‚Äì30000 ‚Äî 'E';
- 30001‚Äì50000 ‚Äî 'D';
- 50001‚Äì200000 ‚Äî 'C';
- 200001‚Äì1000000 ‚Äî 'B';
- 1000001 –∏ –≤—ã—à–µ ‚Äî 'A'.

–ù–∞–ø—Ä–∏–º–µ—Ä, –∫—Ä–µ–¥–∏—Ç–æ–ø–æ–ª—É—á–∞—Ç–µ–ª—é —Å –¥–æ—Ö–æ–¥–æ–º 25000 –Ω—É–∂–Ω–æ –Ω–∞–∑–Ω–∞—á–∏—Ç—å –∫–∞—Ç–µ–≥–æ—Ä–∏—é 'E', –∞ –∫–ª–∏–µ–Ω—Ç—É, –ø–æ–ª—É—á–∞—é—â–µ–º—É 235000, ‚Äî 'B'.

In [28]:
def categorize_income(row):
    monthly_income = row['monthly_income']
    if  monthly_income <= 30000:
        return 'E'
    elif 30000 < monthly_income <= 50000:
        return 'D'
    elif 50000 < monthly_income <= 200000:
        return 'C'
    elif 200000 < monthly_income <= 1000000:
        return 'B'
    else:
        return 'A'

–°–æ–∑–¥–∞–¥–∏–º —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –¥–∞–Ω–Ω—ã—Ö –∏–∑ —Å—Ç–æ–ª–±—Ü–∞ `purpose` —Å—Ñ–æ—Ä–º–∏—Ä—É–µ—Ç –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü purpose_category, –≤ –∫–æ—Ç–æ—Ä—ã–π –≤–æ–π–¥—É—Ç —Å–ª–µ–¥—É—é—â–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏:
- ‚Äò–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º‚Äô,
- ‚Äò–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é‚Äô,
- ‚Äò–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã‚Äô,
- ‚Äò–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è‚Äô.

–ê —Ç–∞–∫ –∂–µ —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è —Ä–∞–∑–¥–µ–ª–∏—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –Ω–∞ —Ç–µ—Ö —É –∫–æ–≥–æ –Ω–µ—Ç –¥–µ—Ç–µ–π, —Ç–µ—Ö —É –∫–æ–≥–æ 1-2 —Ä–µ–±–µ–Ω–∫–∞ –∏ –º–Ω–æ–≥–æ–¥–µ—Ç–Ω—ã—Ö.

In [29]:
# –°–ø–∏—Å–∫–∏ –Ω–µ—è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –¥–ª—è –æ—Å–Ω–æ–≤–Ω—ã—Ö –∫–∞—Ç–µ–≥–æ—Ä–∏–π —Ü–µ–ª–µ–π –∫—Ä–µ–¥–∏—Ç–æ–≤
def categorize_purpose(row):
    purpose = row['purpose']
    car_operations = '–∞–≤—Ç–æ–º–æ–±'
    conducting_a_wedding = '—Å–≤–∞–¥—å–±'
    getting_an_education = '–æ–±—Ä–∞–∑–æ–≤–∞–Ω'
    purpose_category = ['–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º', '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é', '–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è',
                        '–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã']
    if car_operations in purpose:
        return str(purpose_category[0])
    elif getting_an_education in purpose:
        return str(purpose_category[2])
    elif conducting_a_wedding in purpose:
        return str(purpose_category[3])
    else:
        return str(purpose_category[1])

In [30]:
# –ö–∞—Ç–µ–≥–æ—Ä–∏–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –¥–µ—Ç–µ–π
def categorize_children(row):
    if row['children'] == 0:
        return '–Ω–µ—Ç –¥–µ—Ç–µ–π'
    elif 1 <= row['children'] <= 2:
        return '1-2 —Ä–µ–±–µ–Ω–∫–∞'
    else:
        return '–º–Ω–æ–≥–æ–¥–µ—Ç–Ω—ã–µ'

In [31]:
client_data['monthly_income_category'] = client_data.apply(categorize_income, axis=1)
client_data['purpose_category'] = client_data.apply(categorize_purpose, axis=1)
client_data['children_category'] = client_data.apply(categorize_children, axis=1)

In [32]:
client_data.head(10)

,children,years_employed,dob_years,education_id,family_status_id,gender,type_of_employment,credit_debt,monthly_income,purpose,monthly_income_category,purpose_category,children_category
0,1,23,42,0,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,B,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,1-2 —Ä–µ–±–µ–Ω–∫–∞
1,1,11,36,1,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,1-2 —Ä–µ–±–µ–Ω–∫–∞
2,0,15,33,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,–Ω–µ—Ç –¥–µ—Ç–µ–π
3,3,11,32,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,B,–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è,–º–Ω–æ–≥–æ–¥–µ—Ç–Ω—ã–µ
4,0,93,53,1,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É,C,–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã,–Ω–µ—Ç –¥–µ—Ç–µ–π
5,0,2,27,0,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,B,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,–Ω–µ—Ç –¥–µ—Ç–µ–π
6,0,7,43,0,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º,B,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,–Ω–µ—Ç –¥–µ—Ç–µ–π
7,0,0,50,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,C,–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è,–Ω–µ—Ç –¥–µ—Ç–µ–π
8,2,18,35,0,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã,C,–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã,1-2 —Ä–µ–±–µ–Ω–∫–∞
9,0,5,41,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,–Ω–µ—Ç –¥–µ—Ç–µ–π


## –û—Ç–≤–µ—Ç—å—Ç–µ –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã
–û—Ç–≤–µ—Ç—ã –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã –º–æ–∂–Ω–æ —Ä–∞–∑–º–µ—Å—Ç–∏—Ç—å –≤ —è—á–µ–π–∫–∞—Ö —Ç–µ—Ç—Ä–∞–¥–æ–∫ Jupyter Notebook —Å —Ç–∏–ø–æ–º markdown.
- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?
- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?
- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?
- –ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?

–û—Ç–≤–µ—Ç—ã —Å–æ–ø—Ä–æ–≤–æ–¥–∏—Ç–µ –∏–Ω—Ç–µ—Ä–ø—Ä–µ—Ç–∞—Ü–∏–µ–π ‚Äî –ø–æ—è—Å–Ω–∏—Ç–µ, –æ —á—ë–º –∏–º–µ–Ω–Ω–æ –≥–æ–≤–æ—Ä–∏—Ç –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –≤–∞–º–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç.

–î–ª—è –æ—Ç–≤–µ—Ç–∞ –Ω–∞ –≤–æ–ø—Ä–æ—Å –æ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –≤–∑–∞–∏–º–æ—Å–≤—è–∑–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–µ—Ç–µ–π –∏ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å—é –≤–æ–∑–≤—Ä–∞—Ç–∞ –∫—Ä–µ–¥–∏—Ç–∞ –ø–æ—Å—Ç—Ä–æ–∏–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –∏ –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ.

In [33]:
pd.pivot_table(client_data,
               index=['children_category'], 
               values=['credit_debt'],
               aggfunc=[np.mean, len])

                         mean         len
                  credit_debt credit_debt
children_category
1-2 —Ä–µ–±–µ–Ω–∫–∞          0.092989        6861
–º–Ω–æ–≥–æ–¥–µ—Ç–Ω—ã–µ          0.081579         380
–Ω–µ—Ç –¥–µ—Ç–µ–π            0.075173       14154

–ü–æ ~2% –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –º–æ–∂–Ω–æ –ø—Ä–µ–¥—Å—Ç–∞–≤–∏—Ç—å –Ω–µ–≤–µ—Ä–Ω—ã–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã. –ú–æ–∂–Ω–æ –ø–æ–ø—Ä–æ–±–æ–≤–∞—Ç—å –∏–∑–º–µ–Ω–∏—Ç—å –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –Ω–∞ `–Ω–µ—Ç –¥–µ—Ç–µ–π`, `1 —Ä–µ–±–µ–Ω–æ–∫` –∏ `–Ω–µ—Å–∫–æ–ª—å–∫–æ –¥–µ—Ç–µ–π`, —Å –æ–¥–Ω–æ–π —Å—Ç–æ—Ä–æ–Ω—ã —Ç–∞–∫–æ–µ —Ä–∞–∑–¥–µ–ª–µ–Ω–∏–µ –¥–æ–ª–∂–Ω–æ –ø–æ–º–æ—á—å, –≤–µ–¥—å —Ä–∞—Å—Ö–æ–¥—ã –Ω–∞ –æ–¥–Ω–æ–≥–æ —Ä–µ–±–µ–Ω–∫–∞ –º–æ–≥—É—Ç —Å–∏–ª—å–Ω–æ –æ—Ç–ª–∏—á–∞—Ç—å—Å—è –æ—Ç —Ä–∞—Å—Ö–æ–¥–æ–≤ –Ω–∞ –¥–≤–æ–∏—Ö –∏ –±–æ–ª–µ–µ –¥–µ—Ç–µ–π, –∫ —Ç–æ–º—É –∂–µ, –ø–æ –∫—Ä–∞–π–Ω–µ–π –º–µ—Ä–µ –∏–∑ –º–æ–µ–≥–æ –æ–ø—ã—Ç–∞, —Ç–æ–ª—å–∫–æ 1/5 —á–∞—Å—Ç—å —Å–µ–º–µ–π –∏–º–µ–µ—Ç –±–æ–ª—å—à–µ –æ–¥–Ω–æ–≥–æ —Ä–µ–±–µ–Ω–∫–∞. –ú–æ–∂–Ω–æ –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –∫–∞–∫ –∏–∑–º–µ–Ω—è—Ç—Å—è –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏, —Å–æ–∑–¥–∞–≤ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—É—é –∫–∞—Ç–µ–≥–æ—Ä–∏—é —Å –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–Ω—ã–º —Ä–∞–∑–¥–µ–ª–µ–Ω–∏–µ–º.

In [34]:
# –ù–æ–≤—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –¥–µ—Ç–µ–π
def another_categorize_children(row):
    if row['children'] == 0:
        return '–Ω–µ—Ç –¥–µ—Ç–µ–π'
    elif row['children'] == 1:
        return '1 —Ä–µ–±–µ–Ω–æ–∫'
    else:
        return '–º–Ω–æ–≥–æ–¥–µ—Ç–Ω—ã–µ'
# –î–æ–±–∞–≤–∏–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü    
client_data['another_children_category'] = client_data.apply(another_categorize_children, axis=1)
# –ò –≤—ã–≤–µ–¥–µ–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É
pd.pivot_table(client_data,
               index=['another_children_category'], 
               values=['credit_debt'],
               aggfunc=[np.mean, len])

                                 mean         len
                          credit_debt credit_debt
another_children_category
1 —Ä–µ–±–µ–Ω–æ–∫                    0.092327        4809
–º–Ω–æ–≥–æ–¥–µ—Ç–Ω—ã–µ                  0.092516        2432
–Ω–µ—Ç –¥–µ—Ç–µ–π                    0.075173       14154

–î–∞, —Å –Ω–æ–≤—ã–º —Ä–∞–∑–¥–µ–ª–µ–Ω–∏–µ–º —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å—Ç–∞–ª–æ —á—É—Ç—å –±–æ–ª–µ–µ —Ä–∞–≤–Ω–æ–º–µ—Ä–Ω—ã–º, 11% –≤—Å–µ –∂–µ –Ω–µ 2. –û–¥–Ω–∞–∫–æ, –≤—ã–≤–æ–¥ –ø–æ —Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç–∏ –≤–æ–∑–≤—Ä–∞—â–∞—Ç—å –∫—Ä–µ–¥–∏—Ç –æ—Å—Ç–∞–Ω–µ—Ç—Å—è —Ç–∞–∫–∏–º –∂–µ - –±–µ–∑–¥–µ—Ç–Ω—ã–µ –∑–∞–µ–º—â–∏–∫–∏ –≤–µ—Ä–Ω—É—Ç –∫—Ä–µ–¥–∏—Ç —Å –±–æ–ª—à–µ–π –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å—é.

–ò—Å—Ö–æ–¥—è –∏–∑ –ø–æ–ª—É—á–µ–Ω–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã, –º–æ–∂–Ω–æ —Å–∫–∞–∑–∞—Ç—å, —á—Ç–æ –±–µ–∑–¥–µ—Ç–Ω—ã–µ –∑–∞–µ–º—â–∏–∫–∏ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç –Ω–µ–º–Ω–æ–≥–æ —á–∞—â–µ, —á–µ–º —Ç–µ, —É –∫–æ–≥–æ –µ—Å—Ç—å –¥–µ—Ç–∏.

–ü—Ä–æ–≤–µ—Ä–∏–º –Ω–∞—Å–∫–æ–ª—å–∫–æ —Å–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –≤–ª–∏—è–µ—Ç –Ω–∞ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤–æ–∑–≤—Ä–∞—Ç–∞ –∑–∞–µ–º–Ω—ã—Ö –¥–µ–Ω–µ–≥ —Ç–∞–∫ –∂–µ —Å –ø–æ–º–æ—â—å—é —Å–≤–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã. –£–º–µ—Å—Ç–Ω–æ –Ω–∞–ø–æ–º–Ω–∏—Ç—å, —á—Ç–æ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –≤ `family_status_id` —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—Ç —Å–ª–µ–¥—É—é—â–∏–º –∑–Ω–∞—á–µ–Ω–∏—è–º
- `0` - –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º, 
- `1` - –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫, 
- `2` - –≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞,
- `3` - –≤ —Ä–∞–∑–≤–æ–¥–µ,
- `4` - –Ω–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º.

In [35]:
pd.pivot_table(client_data,
               index=['family_status_id'], 
               values=['credit_debt'],
               aggfunc=[np.mean, len])

                        mean         len
                 credit_debt credit_debt
family_status_id
0                   0.075478       12295
1                   0.092749        4151
2                   0.065969         955
3                   0.070411        1193
4                   0.097465        2801

–ò—Å—Ö–æ–¥—è –∏–∑ –ø–æ–ª—É—á–µ–Ω–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã, –º–æ–∂–Ω–æ —Å–∫–∞–∑–∞—Ç—å, —á—Ç–æ —Ö—É–∂–µ –≤—Å–µ–≥–æ –∫—Ä–µ–¥–∏—Ç –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –ª—é–¥–∏ –Ω–µ —Å–≤—è–∑–∞–Ω–Ω—ã–µ —É–∑–∞–º–∏ –±—Ä–∞–∫–∞ –∏–ª–∏ –∂–∏–≤—É—â–∏–µ –≤ –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–æ–º –±—Ä–∞–∫–µ, –º–µ–Ω—å—à–µ –≤—Å–µ–≥–æ –Ω–µ –≤–æ–∑–≤—Ä–∞—Ç–æ–≤ —É –≤–¥–æ–≤ –∏ –≤–¥–æ–≤—Ü–æ–≤.

–£–∑–Ω–∞–µ–º –µ—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫.

In [36]:
pd.pivot_table(client_data,
               index=['monthly_income_category'], 
               values=['credit_debt'],
               aggfunc=[np.mean, len])

                               mean         len
                        credit_debt credit_debt
monthly_income_category
A                          0.080000          25
B                          0.070490        5022
C                          0.084752       15976
D                          0.060000         350
E                          0.090909          22

–ü–æ—Å–ª–µ –∏–∑—É—á–µ–Ω–∏—è —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö –∏–∑–º–µ–Ω–∏–º –∫–∞—Ç–µ–≥–æ—Ä–∏–∏, –Ω–∞ —Ç–µ, –∫–æ—Ç–æ—Ä—ã–µ —É–∫–∞–∑–∞–Ω—ã –ø–µ—Ä–µ–¥ –±–ª–æ–∫–æ–º –æ–±—Ä–∞–±–æ—Ç–∫–∏ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤.

In [37]:
# –ù–æ–≤—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ –¥–æ—Ö–æ–¥—É
def another_categorize_income(row):
    monthly_income = row['monthly_income']
    if  monthly_income <= 70000:
        return '–¥–æ 70 000'
    elif 70000 < monthly_income <= 140000:
        return '–¥–æ 140 000'
    elif 140000 < monthly_income <= 200000:
        return '–¥–æ 200 000'
    else:
        return '–±–æ–ª—å—à–µ 200 000'
    
# –î–æ–±–∞–≤–∏–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü    
client_data['another_monthly_income_category'] = client_data.apply(another_categorize_income, axis=1)
# –ò –≤—ã–≤–µ–¥–µ–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É
pd.pivot_table(client_data,
               index=['another_monthly_income_category'], 
               values=['credit_debt'],
               aggfunc=[np.mean, len])

                                       mean         len
                                credit_debt credit_debt
another_monthly_income_category
–±–æ–ª—å—à–µ 200 000                     0.070537        5047
–¥–æ 140 000                         0.084657        7997
–¥–æ 200 000                         0.087039        6882
–¥–æ 70 000                          0.068754        1469

–ù–æ–≤–æ–µ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –ø–æ –±–æ–ª–µ–µ –æ–±—à–∏—Ä–Ω—ã–º –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç –æ—Ç–ª–∏—á–Ω—ã–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã –æ—Ç –ø—Ä–µ–¥—ã–¥—É—â–µ–≥–æ —Ä–∞–∑–¥–µ–ª–µ–Ω–∏—è. –ü–æ –Ω–∏–º –º–æ–∂–Ω–æ –∑–∞–º–µ—Ç–∏—Ç—å —á—Ç–æ —Ö—É–∂–µ –æ—Ç–¥–∞—é—Ç –ª—é–¥–∏ —Å –¥–æ—Ö–æ–¥–æ–º –æ—Ç 140 000 –¥–æ 200 000, —Ö–æ—Ç—è –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å –Ω–µ–≤–æ–∑–≤—Ä–∞—Ç–∞ –≤—Å–µ–≥–æ –Ω–∞ 0,3% –ø—Ä–æ—Ü–µ–Ω—Ç–∞ –æ—Ç–ª–∏—á–∞–µ—Ç—Å—è –æ—Ç —Ç–µ—Ö, —á—å–∏ –¥–æ—Ö–æ–¥—ã –æ—Ç 70 000 –¥–æ 140 000.

In [38]:
pd.pivot_table(client_data,
               index=['purpose_category'], 
               values=['credit_debt'],
               aggfunc=[np.mean, len])

                                mean         len
                         credit_debt credit_debt
purpose_category
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º      0.093430        4292
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é    0.072370       10778
–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è       0.092273        3999
–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã          0.078676        2326

–û–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é —Å–∞–º–∞—è –Ω–∞–¥–µ–∂–Ω–∞—è –≤ –ø–ª–∞–Ω–µ –≤–æ–∑–≤—Ä–∞—Ç–∞ —Ü–µ–ª—å –∫—Ä–µ–¥–∏—Ç–∞, –≤ –æ—Ç–ª–∏—á–∏–µ –æ—Ç –ø–æ–∫—É–ø–∫–∏ –∞–≤—Ç–æ–º–æ–±–∏–ª—è.

## –û–±—â–∏–π –≤—ã–≤–æ–¥

–ü—Ä–æ–≤–µ–¥—è –¥–∞–Ω–Ω–æ–µ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –º–æ–∂–Ω–æ —Å–∫–∞–∑–∞—Ç—å, —á—Ç–æ —Å–∞–º—ã–º–∏ –æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω—ã–º–∏ –∑–∞–µ–º—â–∏–∫–∞–º–∏ –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å –∑–∞–µ–º—â–∏–∫–∏ —Å –æ—Ñ–∏—Ü–∏–∞–ª—å–Ω–æ –æ—Ñ–æ—Ä–º–ª–µ–Ω–Ω—ã–º–∏ –æ—Ç–Ω–æ—à–µ–Ω–∏—è–º–∏ –≤ –Ω–∞—Å—Ç–æ—è—â–µ–º –∏–ª–∏ –ø—Ä–æ—à–ª–æ–º –∏ –Ω–µ –∏–º–µ—é—â–∏–µ –¥–µ—Ç–µ–π, —Å —Ü–µ–ª—å—é –∏–∑–º–µ–Ω–∏—Ç—å –∂–∏–ª–∏—â–Ω—ã–µ —É—Å–ª–æ–≤–∏—è –∏ –¥–æ—Ö–æ–¥–æ–º –æ—Ç 30000 –¥–æ 50000.

In [40]:
client_data_pivot = pd.pivot_table(client_data,
               index=['another_children_category', 'family_status_id', 'another_monthly_income_category', 'purpose_category'], 
               values=['credit_debt'],
               aggfunc=[np.mean, len])
client_data_pivot.sort_values(by=('mean', 'credit_debt'))

                                                                                                           mean  \
                                                                                                    credit_debt
another_children_category family_status_id another_monthly_income_category purpose_category
1 —Ä–µ–±–µ–Ω–æ–∫                 2                –¥–æ 70 000                       –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é       0.000
–º–Ω–æ–≥–æ–¥–µ—Ç–Ω—ã–µ               3                –±–æ–ª—å—à–µ 200 000                  –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º         0.000
1 —Ä–µ–±–µ–Ω–æ–∫                 3                –¥–æ 70 000                       –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é       0.000
                          1                –¥–æ 70 000                       –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é       0.000
                                                                           –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è          0.000
...                                                                                                         ...
–º–Ω–æ–≥–æ–¥–µ—Ç–Ω—ã–µ               4                –¥–æ 200 000                      –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º         0.375
                          3                –¥–æ 70 000                       –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º         0.500
                          2                –¥–æ 140 000                      –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º         0.500
                          3                –¥–æ 70 000                       –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è          1.000
                                                                           –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é       1.000

                                                                                                            len
                                                                                                    credit_debt
another_children_category family_status_id another_monthly_income_category purpose_category
1 —Ä–µ–±–µ–Ω–æ–∫                 2                –¥–æ 70 000                       –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é           7
–º–Ω–æ–≥–æ–¥–µ—Ç–Ω—ã–µ               3                –±–æ–ª—å—à–µ 200 000                  –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º             4
1 —Ä–µ–±–µ–Ω–æ–∫                 3                –¥–æ 70 000                       –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é          10
                          1                –¥–æ 70 000                       –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é          15
                                                                           –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è             12
...                                                                                                         ...
–º–Ω–æ–≥–æ–¥–µ—Ç–Ω—ã–µ               4                –¥–æ 200 000                      –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º             8
                          3                –¥–æ 70 000                       –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º             2
                          2                –¥–æ 140 000                      –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º             2
                          3                –¥–æ 70 000                       –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è              1
                                                                           –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é           1

[187 rows x 2 columns]

–°–æ–±—Ä–∞–≤ –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã –≤ —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –∏ –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–≤ –ø–æ —Å—Ä–µ–¥–Ω–µ–º—É –∑–Ω–∞—á–µ–Ω–∏—é –Ω–µ–≤–æ–∑–≤—Ä–∞—Ç–Ω—ã—Ö –∫—Ä–µ–¥–∏—Ç–æ–≤ –º–æ–∂–Ω–æ –æ—Ç–º–µ—Ç–∏—Ç—å –≥—Ä—É–ø–ø—ã –ø–æ–≤—ã—à–µ–Ω–Ω–æ–≥–æ —Ä–∏—Å–∫–∞:

- `–º–Ω–æ–≥–æ–¥–µ—Ç–Ω—ã–µ` - `–Ω–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º` - `–¥–æ 200 000` - `–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º`
- `–º–Ω–æ–≥–æ–¥–µ—Ç–Ω—ã–µ` - `–≤ —Ä–∞–∑–≤–æ–¥–µ` - `–¥–æ 70 000` - `–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º`
- `–º–Ω–æ–≥–æ–¥–µ—Ç–Ω—ã–µ` - `–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞` - `–¥–æ 140 000` - `–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º`
- `–º–Ω–æ–≥–æ–¥–µ—Ç–Ω—ã–µ` - `–≤ —Ä–∞–∑–≤–æ–¥–µ` - `–¥–æ 70 000` - `–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è`
- `–º–Ω–æ–≥–æ–¥–µ—Ç–Ω—ã–µ` - `–≤ —Ä–∞–∑–≤–æ–¥–µ` - `–¥–æ 70 000` - `–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é`

–•–æ—Ç—è –≤–æ–∑–º–æ–∂–Ω–æ —ç—Ç–æ –±—É–¥–µ—Ç –Ω–µ —Å–∞–º–∞—è –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω–∞—è –≤—ã–±–æ—Ä–∫–∞, –≤–µ–¥—å –≤ –∫–∞–∂–¥–æ–π —É–∫–∞–∑–∞–Ω–Ω–æ–π —Å–æ–≤–æ–∫—É–ø–Ω–æ—Å—Ç–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–π –µ—Å—Ç—å —Ç–æ–ª—å–∫–æ –æ–¥–∏–Ω-–¥–≤–∞ –∑–∞–µ–º—â–∏–∫–∞.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v2 <a class="tocSkip"> </h2>

<b>–í—Å–µ —Å—É–ø–µ—Ä!üëç:</b> –û—Ç–ª–∏—á–Ω–æ!

<div style="border:solid Chocolate 2px; padding: 40px">
    
**–û–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É —Ä–µ–≤—å—é–≤–µ—Ä–∞**:
 –ï–∫–∞—Ç–µ—Ä–∏–Ω–∞, —Å–ø–∞—Å–∏–±–æ –∑–∞ –ø—Ä–æ–µ–∫—Ç! –¢—ã –ø—Ä–∏–ª–æ–∂–∏–ª–∞ –º–Ω–æ–≥–æ —É—Å–∏–ª–∏–π, —á—Ç–æ–±—ã –¥–æ–≤–µ—Å—Ç–∏ –µ–≥–æ –¥–æ –∫–æ–Ω—Ü–∞, –ø—Ä–æ–¥–µ–ª–∞–Ω–∞ –æ–≥—Ä–æ–º–Ω–∞—è —Ä–∞–±–æ—Ç–∞, –∏ —ç—Ç–æ –≤–∏–¥–Ω–æ –Ω–µ–≤–æ–æ—Ä—É–∂–µ–Ω–Ω—ã–º –≥–ª–∞–∑–æ–º, —Ç—ã –±–æ–ª—å—à–æ–π –º–æ–ª–æ–¥–µ—Ü!
    
**–û—Ç–º–µ—á—É –ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω—ã–µ –º–æ–º–µ–Ω—Ç—ã**:
    
    1. –í—Å–µ —Ä–∞–∑–ª–æ–∂–µ–Ω–æ –ø–æ –ø–æ–ª–æ—á–∫–∞–º, –≤—Å–µ–≥–¥–∞ –ø–æ–Ω—è—Ç–µ–Ω —Ö–æ–¥ —Ç–≤–æ–∏—Ö –º—ã—Å–ª–µ–π, –ø—Ä–∏—è—Ç–Ω–æ —Å–º–æ—Ç—Ä–µ—Ç—å
    
    2. –ù–∞ —Ä–∞–∑–Ω—ã—Ö —à–∞–≥–∞—Ö –ø—Ä–æ–µ–∫—Ç–∞ —Ç—ã –ø—Ä–µ–¥–ª–∞–≥–∞–ª–∞ –æ—á–µ–Ω—å –∏–Ω—Ç–µ—Ä–µ—Å–Ω—ã–µ —Ä–µ—à–µ–Ω–∏—è –∏ –º–µ—Ç–æ–¥—ã –¥–ª—è –∏—Ö —Ä–µ–∞–ª–∏–∑–∞—Ü–∏–∏. –•–æ—Ä–æ—à–∞—è —Ä–∞–±–æ—Ç–∞!
    
    
**–ù–∞ —á—Ç–æ —Å—Ç–æ–∏—Ç –æ–±—Ä–∞—Ç–∏—Ç—å –≤–Ω–∏–º–∞–Ω–∏–µ**:
    
    1. –ù–∞ –∏–∑–º–µ–Ω–µ–Ω–∏–µ –∞–Ω–æ–º–∞–ª–∏–π –≤ –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–µ –¥–∞–Ω–Ω—ã—Ö
    
    2. –ù–∞ —Ç–æ, —á—Ç–æ –≤—ã–≤–æ–¥ –º–æ–∂–Ω–æ –¥–µ–ª–∞—Ç—å —Ç–æ–ª—å–∫–æ –ø–æ –Ω–æ—Ä–º–∞–ª—å–Ω–æ–π –ø–æ —á–∏—Å–ª–µ–Ω–Ω–æ—Å—Ç–∏ –≤—ã–±–æ—Ä–∫–µ, –µ—Å–ª–∏ —Å–¥–µ–ª–∞—Ç—å –ø–æ –º–∞–ª–æ—á–∏—Å–ª–µ–Ω–Ω–æ–π, —Ç–æ –æ–Ω –±—É–¥–µ—Ç –Ω–µ —Ä–µ–ø—Ä–µ–∑–µ–Ω—Ç–∞—Ç–∏–≤–µ–Ω
    
    
**–£–¥–∞—á–∏ –∏ –∂–¥—É —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç –Ω–∞ –ø–æ–≤—Ç–æ—Ä–Ω–æ–µ —Ä–µ–≤—å—é!**

<div style="border:solid Chocolate 2px; padding: 40px">
    
**–û–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É —Ä–µ–≤—å—é–≤–µ—Ä–∞ v2**:
 –ï–∫–∞—Ç–µ—Ä–∏–Ω–∞, —Å–ø–∞—Å–∏–±–æ –∑–∞ —Ä–∞–±–æ—Ç—É, –ø—Ä–æ–µ–∫—Ç –∑–∞—á—Ç–µ–Ω, –ø–æ–∑–¥—Ä–∞–≤–ª—è—é —Ç–µ–±—è! –£–≤–∏–¥–∏–º—Å—è –≤ –ü—Ä–∞–∫—Ç–∏–∫—É–º–µ! ;)